version: '3.8'

services:
  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    environment:
      - MYSQL_HOST=db
      - MYSQL_ROOT_PASSWORD={{ db_root_password }}
      - MYSQL_USER={{ db_user }}
      - MYSQL_PASSWORD={{ db_password }}
      - MYSQL_DATABASE={{ db_name }}
      - REDIS_HOST=redis
      - REDIS_HOST_PASSWORD={{ redis_password }}
      - NEXTCLOUD_TRUSTED_DOMAINS={{vm_ip_address}} {{domain}} www.{{domain}} *.{{domain}}
    volumes:
      - {{nextcloud_directory}}data:/var/www/html
    restart: always
    depends_on:
      - db
      - redis

  db:
    image: mariadb:latest
    container_name: nextcloud_db
    environment:
      - MYSQL_ROOT_PASSWORD={{ db_root_password }}
      - MYSQL_PASSWORD={{ db_password }}
      - MYSQL_DATABASE={{ db_name }}
      - MYSQL_USER={{ db_user }}
    volumes:
      - {{nextcloud_directory}}db_data:/var/lib/mysql
    restart: always

  redis:
    image: redis:alpine
    container_name: nextcloud_redis
    command: redis-server --requirepass {{ redis_password }}
    restart: always

  proxy:
    image: nginx:latest
    container_name: nextcloud_proxy
    restart: always
    ports:
      - "{{nextcloud_port}}:443"
    volumes:
      - "{{nextcloud_directory}}nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ssl_cert_dir}}server.crt:/etc/nginx/ssl/server.crt:ro"
      - "{{ssl_cert_dir}}server.key:/etc/nginx/ssl/server.key:ro"
    depends_on:
      - nextcloud
