events {
    worker_connections 1024;
}

http {
    client_max_body_size 50G;

    server {
        listen 80;
        server_name {{ vm_ip_address }};
        client_max_body_size 50G;
        
        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl;
        server_name {{ vm_ip_address }};
        client_max_body_size 50G;

        ssl_certificate /etc/nginx/ssl/server.crt;
        ssl_certificate_key /etc/nginx/ssl/server.key;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers on;

        # Security Headers
        add_header Strict-Transport-Security "max-age=15552000; includeSubDomains; preload" always;
        # add_header Content-Security-Policy "form-action 'self' https://{{ vm_ip_address }}:{{ portainer_port }} https://{{ vm_ip_address }}:{{ immich_port }}" always; 

    

        location {{portainer_path}} {
            proxy_pass          http://{{ vm_ip_address }}:{{portainer_port}}/;
            proxy_set_header    Host               $http_host;
            proxy_set_header    X-Real-IP          $remote_addr;
            proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header    X-Forwarded-Proto  $scheme;
        }

        # Proxy to Syncthing
        location {{syncthing_path}} {
            proxy_pass          http://{{ vm_ip_address }}:{{syncthing_port}}/;
            proxy_set_header    Host               $http_host;
            proxy_set_header    X-Real-IP          $remote_addr;
            proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header    X-Forwarded-Proto  $scheme;

            proxy_read_timeout  600s;
            proxy_send_timeout  600s;
        }

        # Serve static files directly
        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
            deny all;
        }

        # Deny access to .htaccess files
        location ~ /\.ht {
            deny all;
        }
    }
}